<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MVZPP_Calc.Properties.Settings.LocalBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databases\LocalBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVZPP_Calc.Properties.Settings.LocalDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databases\LocalDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVZPP_Calc.Properties.Settings.LocalDataStoringConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databases\LocalDataStoring.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVZPP_Calc.Properties.Settings.LCDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databases\LCDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVZPP_Calc.Properties.Settings.History_001ConnectionString"
            connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\databases\\History_001.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MVZPP_Calc.Properties.Settings.History_1eR1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databases\History_1eR1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>